# cd
alias ..='cd ..'

# notify for long commands
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# zsh
alias zshconfig="sudo vim ~/.zshrc"
alias zshreload="source ~/.zshrc"

# docker
alias dockerclean="sudo docker rm $(sudo docker ps -a -q)"

# vscode
alias scode='sudo code --user-data-dir="~/.vscode-root"'
